@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --bg-color: #EBF5FF;
}

.bg-default {
  background-color: var(--bg-color);
} */

body {
  font-family: 'Poppins', sans-serif;
}

.poppins-regular {
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-weight: 900;
  font-style: normal;
}

.poppins-regular-italic {
  font-weight: 400;
  font-style: italic;
}

.poppins-bold-italic {
  font-weight: 700;
  font-style: italic;
}
